.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFF;
}

.kittyPhoto {
    width: 200px;
    height: auto;
}